.dialog {
  z-index: 1000;
  position: fixed;
  right: 0;
  left: 0;
  top: 20px;
  margin-right: auto;
  margin-left: auto;
  min-height: 800px;
  width: 95%;
  background-color: #fff;
  padding: 0 12px;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
}

.content {
  height: 800px;
}

textarea {
  height: 95%;
  width: 100%;
  resize: none;
}

.navigate {
  text-align: right;
  margin: 5px 0;
}
