<gridster [options]="options">
  <gridster-item [item]="item" *ngFor="let item of dashboard">
    <div class="button-box" [hidden]="viewed">
      <button (click)="showDialog = !showDialog; onSelect(item)" class="btn btn-default btn-sm glyphicon glyphicon-fullscreen"></button>
      <button (click)="removeItem($event, item)" class="btn btn-default btn-sm glyphicon glyphicon glyphicon-trash"></button>
    </div>
    <div *ngIf="item.content" [innerHTML]="item.content">
    </div>
    <div *ngIf="item.test">
      <!-- <iframe width="854" height="480" src="https://www.youtube.com/embed/ASj81daun5Q?list=RDASj81daun5Q" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen>
      </iframe> -->
      <div [innerHTML]="videoUrl"></div>
    </div>
  </gridster-item>

</gridster>

<div class="menu">
  <button (click)="addItem()" class="btn btn-success glyphicon glyphicon-plus"></button>
  <button (click)="viewed = !viewed" class="btn btn-success glyphicon glyphicon-cog"></button>
</div>
<iframe width="854" height="480" src="https://www.youtube.com/embed/ASj81daun5Q?list=RDASj81daun5Q" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>

<app-modal [(visible)]="showDialog" [box]="selectedBox" (bodyText)="changeText($event)"></app-modal>
