<gridster [options]="options">
  <gridster-item [item]="item" *ngFor="let item of dashboard; trackBy: trackByItems">
    <div class="button-box" [hidden]="viewed">
      <button (click)="showDialog = !showDialog; onSelect(item)" class="btn btn-default btn-sm glyphicon glyphicon-fullscreen"></button>
      <button (click)="removeItem($event, item)" class="btn btn-default btn-sm glyphicon glyphicon glyphicon-trash"></button>
    </div>
    <div *ngIf="item.content" [innerHTML]="item.content | safeHtml" class="item">
    </div>
  </gridster-item>
</gridster>

<div class="menu">
  <button (click)="addItem()" class="btn btn-success glyphicon glyphicon-plus"></button>
  <button (click)="viewed = !viewed" class="btn btn-success glyphicon glyphicon-cog"></button>
  <button (click)="setState()" class="btn btn-success glyphicon" [ngClass]="{'glyphicon-play': !navigationState, 'glyphicon-stop': navigationState}"></button>
</div>

<app-modal2-box [(visible)]="showDialog" [item]="selectedItem" (bodyText)="changeText($event)"></app-modal2-box>
