<div class="container-fluid" *ngIf="weather">
  <div class="row text-center">
    <h2>{{weather.current_observation.display_location.full}}</h2>
    <div>
      <img src="{{weather.current_observation.icon_url}}" alt="Weather Icon">
    </div>
    <h3>{{weather.current_observation.weather}}</h3>
    <h1>{{weather.current_observation.temp_c}}&deg;C</h1>
  </div>
  <div class="row">
    <ul class="list-group">
      <li class="list-group-item">
        <strong>City: </strong> {{weather.current_observation.display_location.city}} </li>
      <li class="list-group-item">
        <strong>State: </strong> {{weather.current_observation.display_location.state_name}} </li>
      <li class="list-group-item">
        <strong>Country: </strong> {{weather.current_observation.display_location.country}} </li>
      <li class="list-group-item">
        <strong>Local time: </strong> {{weather.current_observation.local_time_rfc822 | date:'full'}} </li>
      <li class="list-group-item">
        <strong>Relative Humidity: </strong> {{weather.current_observation.relative_humidity}} </li>
      <li class="list-group-item">
        <strong>Dewpoint: </strong> {{weather.current_observation.dewpoint_string}} </li>
      <li class="list-group-item">
        <strong>Visibility: </strong> {{weather.current_observation.visibility_km}} Km</li>
      <li class="list-group-item">
        <strong>Soil Moisture: </strong> {{weather.current_observation.soil_moisture}} </li>
      <li class="list-group-item">
        <strong>Wind: </strong> {{weather.current_observation.wind_kph}} Kph </li>
    </ul>
  </div>
</div>

<div style="width: 633px;"><iframe style="display: block;" src="https://cdnres.willyweather.com.au/widget/loadView.html?id=45530" width="633" height="520" frameborder="0"  scrolling="no"></iframe><a style="z-index: 1;position: relative;text-indent: -9999em;height: 20px;margin: -20px 0 0 0;display: block" href="https://www.willyweather.com.au/vic/melbourne/melbourne.html" rel="nofollow">The latest weather for melbourne</a></div>