<div class="container">
  <h2 class="text-center">Welcome to DDDev</h2>

  <form #formData='ngForm' (ngSubmit)="customLogin(formData)">
    <input type="text" class="form-control" placeholder="Email Address" (ngModel)="email" name="email" required>
    <input type="password" class="form-control" placeholder="Password" (ngModel)="password" name="password" required>
    <button type="submit" id="custom" class="button" [disabled]="!formData.valid">Login with Username/Password</button>
  </form>

  <button id="google" class="button" (click)="googleLogin()">Login with Google Account</button>
  <br>
  <a routerLink="/signup">No account?
    <strong>Create one here</strong>
  </a>
</div>
