<div class="container">
  <div class="jumbotron">
    <button class="btn btn-primary" (click)="openEdit()">Edit Mode</button>
    <button class="btn btn-primary" (click)="openView()">View Mode</button>
    <br>
    <br>
    <div [hidden]="hideEdit" class="form-horizontal">
      <a routerLink="/edit/page1">Edit Page 1</a>
      <br>
      <a routerLink="/edit/page2">Edit Page 2</a>
      <br>
      <br>
      <div class="form-group">
        <label class="col-sm-2 control-label" for="time">Set navigation time:</label>
        <div class="col-sm-2 input-group">
          <input type="text" class="form-control" id="time" [(ngModel)]="navigationTime">
          <span class="input-group-addon">seconds</span>
        </div>
      </div>
      <button class="btn btn-success" (click)="setNavigtaionTime(navigationTime)">Change Time</button>
      <span>{{updateStatus}}</span>
    </div>
  </div>
</div>