.jumbotron {
  margin-top: 40px;
  position: relative;
}

h4 {
  position: absolute;
  top: 0;
  right: 5px;
}

.edit {
  margin-top: 20px;
}

.setting-button {
  float: right;
}

#time {
  text-align: right;
}

table {
  background-color: #fff;
}